<ul class="commentList" id="commentList">
    {% for comment in comments %}
        <li class="item cl">
            <a href="javascript:;">
                <i class="avatar size-L radius">
                    <img alt="50x50" src="{{ MEDIA_URL }}{{ comment.user.image }}"
                            class="img-circle" style="border:1px solid #b7babdb0;width: 50px;">
                </i>
            </a>
            <div class="comment-main">
                <header class="comment-header">
                    <div class="comment-meta">
                        <a class="comment-author"
                            href="javascript:;">{{ comment.user.username }}</a>
                        评论于
                        <time title="{{ comment.add_time }}"
                                datetime="{{ comment.add_time }}">{{ comment.add_time }}</time>
                    </div>
                </header>
                <div class="comment-body">
                    <p>{% autoescape off %}{{ comment.content }}{% endautoescape %}</p>
                </div>
            </div>
        </li>
    {% endfor %}
</ul>
<!-- 分页管理 -->
<div class="col-md-12 text-center">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li>
                {% if comments.has_previous %}
                    <a href="?page={{ comments.previous_page_number }}&pk={{ message.id }}"
                        aria-label="Previous">
                        <span aria-hidden="true">上一页</span>
                    </a>
                {% else %}
                    <a href="javascript:;" aria-label="Previous">
                        <span aria-hidden="true">上一页</span>
                    </a>
                {% endif %}
            </li>
            {% for page in comments.paginator.page_range %}
                {% ifequal page comments.number %}

                    <li><a href="javascript:;"
                            style="background-color: #36a3e7;color: #fff">{{ page }}</a>
                    </li>
                {% else %}
                    <li>
                        <a href="?page={{ page }}&pk={{ message.id }}">{{ page }}</a>
                    </li>
                {% endifequal %}
            {% endfor %}
            <li>
                {% if comments.has_next %}
                    <a href="?page={{ comments.next_page_number }}&pk={{ message.id }}"
                        aria-label="Next">
                        <span aria-hidden="true">下一页</span>
                    </a>
                {% else %}
                    <a href="javascript:;" aria-label="Next">
                        <span aria-hidden="true">下一页</span>
                    </a>
                {% endif %}
            </li>
        </ul>
    </nav>
</div>