{% load static %}
<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 页面标签页显示的抬头 -->
    <title>登录页面</title>
    <link href="{% static 'css\bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css\main.css' %}" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="register">
        <div class="container_in" style="margin-top:40px;height: 320px;">
            <div class="col_1">
                &ensp;&ensp;登录
                <span class="error_msg" id="error_msg"></span>
            </div>
            <!-- 登录form表单 start -->
            <form id="form_data" method="post">
                <div class="input-group input_group">
                    <span class="input-group-addon" style="width: 40%;">用户名</span>
                    <input type="text" class="form-control" id="id_username" placeholder="请输入用户名"
                           aria-describedby="sizing-addon2" style="width: 130%" name="username">
                </div>
                <div class="input-group input_group">
                    <span class="input-group-addon" id="sizing-addon2" style="width: 40%">密码</span>
                    <input type="password" class="form-control" id="id_password" placeholder="请输入密码"
                           aria-describedby="sizing-addon2" style="width: 130%" name="password">
                </div>
                <div>
                    <input type="submit" id="btn_submit" class="btn btn_register" value="登录">
                </div>
                <div style="float: left;margin-top: 20px">
                    <a href="{% url 'register' %}" class="turn_link">没有账号，点击注册...</a>
                </div>
                <!-- 用于处理csrf验证 -->
                {% csrf_token %}
            </form>
            <!-- 登录form表单 end -->
        </div>
    </div>
</div>
<script src="{% static 'js\jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'js\bootstrap.min.js' %}"></script>
<script>
    $('#btn_submit').on('click', function () {
        // post方式将form表单内容提交至后台
        $.ajax({
            cache: false,
            type: "POST",  // post方式
            url: "/login/",  // 提交的路由
            data: $('#form_data').serialize(),  // 序列化后台数据，可以将csrf验证信息一同处理
            async: true,
            success:   // 访问成功后（200）的回调函数
                function (data) {
                    if (data.status == 'success') {
                        window.location.href = "{% url 'home' %}";
                    } else if (data.status == 'fail') {
                        $('#error_msg').text(data.msg);
                    }
                }
        });
        return false
    })
</script>
</body>
</html>
